div.container-fluid {
		margin-top:30px;
		clear:both;
	


	#sidebar {

		.score {
			margin-bottom: 30px;
		}

		.replay {

		}

	}

	#game {

		.row-fluid {
			height:100px;

			.item {
				margin:0 2px 2px 0;
				height:100%;
				background-color:	#000;
			}
		}
	}
}

footer {
	height:20px;
	p {
		text-align: center;
	}
}

#levelModal {
	
  display: inline-block;
  vertical-align: middle;
		
	h1 {
		font-size : 20px;
	}	

	.modal-header {
		border : none;

	}
	.modal-error {
		height:30px;
		line-height: 30px;
		text-align: center;
	}
}