#game {
	height:100%;

	.row-fluid {
		height:100%;
   	width: 100%;
	}

	footer {
	height:20px;
	text-align:center;
	}

}

#level {
  display: inline-block;
  vertical-align: middle;
		
		h1 {
			font-size : 20px;
		}	

		.modal-header {
			border : none;

		}
		.modal-error {
			height:30px;
			padding:7px;	

		}

}


